
<div class="user-edit user-signup">
  <div class="container">
    <div class="center">
      <h2 class="title">會員註冊</h2>
      <div class="position">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :nickname, "暱稱"  %><br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :facebook, "FaceBook帳號"  %><br />
          <%= f.text_field :facebook, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, "密碼" %>
          <% if @minimum_password_length %>
          <em>(密碼長度最小<%= @minimum_password_length %>位數)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "密碼確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "註冊" %>
        </div>
      <% end %>

      <div class="hold"></div>
      <%# <%= render "devise/shared/links" %> 



      </div>
    </div>

  </div>


</div>

