<%= link_to "回首頁", cats_path %>

<div id="target">
  <% if not cat.avatar_file_name.nil? %>
    <%= image_tag cat.avatar.url(:medium) %>
  <% end %>
</div>



<%= form_for cat, html: { multipart: true } do |f| %>
  <ul class="form">
    <li><%= f.file_field :avatar %></li>
    <li><%= f.text_field :name, placeholder: "綽號" %></li>
    <li><%= f.select :sex, options_for_select([["男", "1"], ["女", "0"]]) %></li>
    <li><%= f.text_field :age, placeholder: "年齡" %></li>
    <li><%= f.text_field :city, placeholder: "地區" %></li>
    <li><%= f.select :is_neuter, options_for_select([["是", "true"], ["否", "false"]]) %></li>
    <li><%= f.select :is_vaccine, options_for_select([["是", "true"], ["否", "false"]]) %></li>
    <li><%= f.text_area :description, placeholder: "描述" %></li>
    <li><%= f.submit "送出" %></li>
  </ul>
<% end %>


