

<div class="favorite-list">
  <div class="container">

    <h2 class="title">收藏名單</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>照片</th>
          <th>狀態</th>
          <th>城市</th>
          <th>綽號</th>
          <th>種類</th>
          <th>性別</th>
        </tr>
      </thead>

      <% if current_user %>
        <% @favorites.each do |favorite| %>
        <tbody>
          <tr>
            <td><%= link_to "移除",  list_path(favorite), method: "delete", data: { confirm: "確認要從收藏名單移除嗎?"}, class: "btn btn-red" %></td>
            <% if favorite.avatar.url(:thumb) %>
              <td><%= image_tag favorite.avatar.url(:thumb) %></td>
            <% else %>
              <td><img src="https://picsum.photos/g/100/100"></td>
            <% end %> 
            
            <td><span class="active"><%= favorite.is_adopt %></span></td>
            <td><%= city(favorite.city) %></td>
            <td><%= favorite.name %></td>
            <td><%= type(favorite.animal_type)%></td>
            <td><%= sex(favorite.sex) %></td>
            <td></td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
    <div class="favorite">
      <%= link_to "回首頁",  cats_path,class: "btn btn-red" %>
    </div>

  </div>
</div>

