<%# <div class="cover"></div> %>

<div class="container">
  <h2 class="title unique">動物領養名單</h2>



  <div>
    <% if current_user %>
    <%= link_to "我的收藏名單",lists_path, class: "btn btn-red" %>
    <%= link_to "新增動物基本資料",new_cat_path, class: "btn btn-red" %>
    <% end %>
  </div>


  <div class="search row">
    <%= form_tag cats_path, method: "get" do %>
      <%= select_tag "region", options_for_select(
        [
          ["地區", ""],["基隆", 1], ["台北", 2], ["新北", 3], ["桃園", 4], ["新竹", 5],
          ["苗栗", 6], ["台中", 7], ["彰化", 8], ["南投", 9], ["雲林", 10],
          ["嘉義", 11], ["台南", 12], ["高雄", 13], ["屏東", 14], ["宜蘭", 15],
          ["台東", 16], ["澎湖", 17]
        ]) %>
      <%= select_tag "animal", options_for_select(
        [
          ["種類", ""],["貓", 1], ["狗", 2]
        ]) %>
      <%= text_field_tag "age", nil, placeholder: '請輸入年齡'%>
      <%= submit_tag "搜尋", name: nil %>
    <% end %>
  </div>
  
  
  
  <div class="row clearfix">
    <% @cats.each do |cat| %>
      <div class="cats-list col-3">
        <div class="modify">
        <% if current_user && cat.user_id == current_user.id %>
          <%= link_to "編輯", edit_cat_path(cat), class: "btn btn-black" %>
          <%= link_to "刪除", cat_path(cat), method: "delete", data: { confirm: "確認要刪除此筆資料嗎?"},class: "btn btn-black" %>
        <% end %>
        </div>
        <div class="photo">
          <%= link_to cat do %>
            <% if cat.avatar.url(:medium) %>
              <%= image_tag cat.avatar.url(:medium) %>
            <% else %>
              <img src="https://picsum.photos/g/400/400">
            <% end %>
          <% end %>
        </div>
        <div class="info">
          <table>
            <tr>
              <td>狀態：</td>
              <td><span class="active"><%= cat.is_adopt %></span></td>
            </tr>
            <tr>
              <td>地區：</td>
              <td><%= city(cat.city) %></td>
            </tr>    
            <tr>
              <td>綽號：</td>
              <td><%= cat.name %></td>
            </tr>
            <tr>
              <td>種類：</td>
              <td><%= type(cat.animal_type) %></td>
            </tr>
            <tr>
              <td>性別：</td>
              <td><%= sex(cat.sex) %></td>
            </tr>
            <tr>
              <td>年齡：</td>
              <td><%= cat.age %></td>
            </tr>
          </table>
          
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @cats %>

  


</div>







      
      
      
