<div class="container">

  <h2>動物詳細資料</h2>
  <div class="cats-list col-3">
    <div class="modify">
      <%= link_to "編輯", edit_cat_path(@cat) %>
      <%= link_to "刪除", cat_path(@cat), method: "delete", data: { confirm: "確認要刪除此筆資料嗎?"} %>
    </div>
    <div class="photo">
      <%= image_tag @cat.avatar.url(:medium) %>
    </div>
    <div>
      <table>
        <tr>
          <td>狀態：<td>
          <td class="active"><%= @cat.is_adopt %></td>
        </tr>
        <tr>
          <td>領養日期：<td>
          <td><%= @cat.adopt_at %></td>
        </tr>
        <tr>
          <td>綽號：<td>
          <td><%= @cat.name %></td>
        </tr>
        <tr>
          <td>品種：<td>
          <td><%= @cat.type %></td>
        </tr>
        <tr>
          <td>性別：<td>
          <td><%= @cat.sex %></td>
        </tr>
        <tr>
          <td>年齡：<td>
          <td><%= @cat.age %></td>
        </tr>
        <tr>
          <td>地區：<td>
          <td><%= @cat.city %></td>
        </tr>
        <tr>
          <td>結紮：<td>
          <td><%= @cat.is_neuter %></td>
        </tr>
        <tr>
          <td>狂犬病注射：<td>
          <td><%= @cat.is_vaccine %></td>
        </tr>
        <tr>
          <td colspan="2">描述：<td>
        </tr>
      </table>
      <div class="description">
        <%= @cat.description %>
      </div>
    </div>
  </div>
</div>
